# ignore all of the import files
.import/

# ignore my specific export configuration files and exported versions
export.cfg
export_presets.cfg
.apk
.exe
.pck

# ignore all image files
/**/*.png
/**/*.import

# ignore all mono-specific files
.mono/
data_*/

# ignore all vscode files
.tmp/
.vscode/